/* Reset default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Header styles */
header {
  background-color: #121212;
  color: hsl(0, 13%, 95%);
  padding: 10px 0;
}

.logo h1 {
   background-image: url('images/logo.jpg');
   width:50px 50px;
   height: 145px;
   background-repeat: no-repeat;
   background-position: center;
}

.navigation {
  list-style-type: none;
  
}

.navigation li {
  display: inline;
  margin-right: 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

/* Hero section styles */
#hero {
  background-image:url('images/welcomback.jpg');
  background-repeat: no-repeat;
  background-size:1510px 330px;
  background-position: center;
  text-align: center;
  padding: 80px 0;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f7a710;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


/* About section styles */
#about {
  background-image: url('images/about\ background.jpg');
  background-repeat: no-repeat;
  background-size:1550px 280px;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}

#about h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Menu section styles */
#menu {
  background-color: hwb(84 93% 5%);
  padding: 30px 0;
  text-align: left;
}

#menu h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.menu-item  {
  
  margin-bottom: 10px;
  text-align:center;
  
}

/* Contact section styles */
#contact {
  background-color: #db6a6a;
  color: #c4daf1;
  padding: 20px 0;
  text-align: center;
}

#contact h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 0 0;
  text-align: center;
}
